body {
    background: url(fondo.jpg) no-repeat;
    background-size: 100% 100%;
}
#contenedorPadre {
    background: rgba(51, 255, 0, 0.3);
    width: 65vw;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    
}
#info {
    margin: auto;
    
}
#imgs{
    width: 20vw;
    height: 25vh;

}

.contenedor {
    background: brown;
    width: 15vw;
    padding: 2vw;
    margin: auto;
}
.bloques{
    max-width: 50%;
    
}